/* ShoppingCart.css */
.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%; /*  or use 30% */
  max-width: 450px; /* 350px Optional, to limit the size */
  min-width: 350px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px hsla(0, 0%, 0%, 0.1);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--font-family);
  translate: 100% 0;
  transition: translate 0.3s;
}
.visible-cart {
  translate: 0 0;
}

.cart-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.close-btn {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  background: none;
  border: none;
  cursor: pointer;
}

.cart-items {
  /* flex: 1; */
  overflow-y: auto;
}

.cart-item {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.cart-item-image {
  width: 120px;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 3px;
}

.cart-item-details {
  flex: 1;
}

.cart-item-name {
  font-size: 1rem;
  margin: 0;
}

.cart-item-price,
.cart-quantity {
  font-size: 0.875rem;
  color: hsl(0, 0%, 33%);
}

.cart-item-actions {
  text-align: right;
  display: flex;
  gap: 0.5rem;
}

.cart-item-total {
  font-size: 1rem;
}

.remove-btn {
  background: none;
  border: 1px solid hsl(0, 100%, 30%);
  padding: 0.5rem;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.remove-btn:hover {
  background-color: hsl(0, 100%, 30%);
}
.remove-btn > svg {
  color: hsl(0, 100%, 30%);
  transition: color 0.3s;
}
.remove-btn:hover > svg {
  color: hsl(0, 0%, 100%);
}
.cart-total {
  display: flex;
  justify-content: end;
  gap: 0.35rem;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.total-amount {
  /* color: #007bff; */
}
