.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 10%);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s, opacity 0.2s;
}
.visible-canvas {
  visibility: visible;
  opacity: 0.65;
}
.navbar {
  font-size: 1.2rem;
  font-family: var(--font-family);
  padding: 0.3rem;
  padding-inline: 1rem;
  box-shadow: 0px 0px 4px 0px hsl(0, 0%, 61%);
  /* background-color: hsl(0, 0%, 50%);
  opacity: 0.7; */
}

.nav_container {
  max-width: 1250px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-list {
  display: flex;
  gap: 1rem;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: inherit;
  color: hsl(0, 0%, 35%);
}
.active-link {
  color: hsl(0, 0%, 0%);
}
.cart-button {
  all: unset;
  border-radius: 100%;
  position: relative;
  padding: 0.75rem;
  padding-bottom: 0.6rem;
  border: 0.25px solid hsl(0, 0%, 80%);
  cursor: pointer;
  transition: all 0.3s;
}
.cart-button svg {
  width: 24px;
  height: 24px;
  color: var(--cart-color);
  transition: color 0.3s;
}
.cart-badge {
  position: absolute;
  bottom: -4px;
  right: -5px;
  background-color: hsl(0, 100%, 40%);
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
.cart-button:hover svg {
  color: white;
}
.cart-button:hover {
  scale: 1.1;
  background-color: var(--cart-color);
}
.navbar-item {
  transition: scale 0.1s;
}
.navbar-item:hover {
  scale: 1.2;
}
.cart-container,
.load-cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%; /*  or use 30% */
  max-width: 450px; /* 350px Optional, to limit the size */
  min-width: 320px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px hsla(0, 0%, 0%, 0.1);
  padding: 1.25rem;
  font-family: var(--font-family);
  translate: 100% 0;
  transition: translate 0.3s;
}
.visible-cart {
  translate: 0 0;
}
@media (480px <= width <= 767px) {
  .navbar {
    padding-inline: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1350px) {
  .navbar {
    padding-inline: 2.5rem;
  }
}
