/* Border-box on all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Simple CSS Reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
:root {
  --font-family: system-ui;
  --cart-color: hsl(226, 100%, 50%);
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
}
