/* Border-box on all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Simple CSS Reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
:root {
  --font-family: system-ui, sans-serif;
  --cart-color: hsl(211, 100%, 43%);
  --button-bg-color: hsl(211, 100%, 43%);
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
}
.home-container,
.about-container {
  font-size: 2rem;
  font-family: var(--font-family);
  font-weight: 500;
  margin: 20px;
  max-width: 1250px;
  cursor: default;
}
.loader-container {
  min-height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  width: 60px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: hsl(0, 0%, 0%);
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

@media (480px <= width <= 767px) {
  .home-container,
  .about-container {
    margin: 1.25rem 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1350px) {
  .home-container,
  .about-container {
    margin: 1.25rem 2.5rem;
  }
}

/* Laptops and desktops */
@media (min-width: 1350px) {
  .home-container,
  .about-container {
    margin: 20px auto;
  }
}
