/* Border-box on all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Simple CSS Reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
:root {
  --font-family: system-ui;
  --cart-color: hsl(211, 100%, 43%);
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
}
.home-container,
.about-container {
  margin: 1.5rem calc(1.5rem - 6px);
  font-size: 2rem;
  font-family: var(--font-family);
  font-weight: 500;
}
